.project-card {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-radius: 5px;
    padding: 42px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    .project-container {
        width: calc(100% - 175px);
        margin-left: 25px;
    }
    .project-cover {
        width: 150px;
        height: 150px;
        img {
            width: 100%;
        }
    }
    .project-title {
        margin-bottom: 1.5rem;
        h3 {
            font-size: 21px;
        }
    }
    .project-description {
        margin-bottom: 2rem;
    }
    .project-actions {
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--primary-dark);
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.25px;
            padding: 10px 12px;
            border-radius: 5px;
            margin-right: 21px;
            &:first-child {
                color: white;
                background-color: var(--secondary-dark);
            }
        }
    }
}