.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: linear-gradient(90deg, #1C2237, #4B5A8A);
    font-size: 18px;
    color: var(--white);
}