.blog {
    .main-post {
        padding: 56px;
        background-color: rgba(#000000, 0.05);
        .main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto 1fr;
            gap: 15px;
            .main-post-img {
                grid-row: 1 / 4;
                img {
                    width: 100%;
                }
            }
            .main-post-title {
                h1 {
                    font-size: 28px;
                }
            }
            .main-post-action {
                button {
                    text-decoration: none;
                    text-transform: uppercase;
                    background-color: var(--secondary-dark);
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 1.25px;
                    padding: 10px 12px;
                    border-radius: 5px;
                    margin-right: 21px;
                }
            }
        }
    }
    .main .posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

.post-card {
    img {
        width: 100%;
    }
    h2 {
        font-size: 21px;
        margin-bottom: 14px;
    }
    p {
        margin-bottom: 14px;
    }
    .btn-post {
        display: inline-block;
        border-radius: 5px;
        padding: 10px 12px;
        margin-right: 21px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.25px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--secondary-dark);
        color: white;
    }
}