.projects {
    padding: 5rem 0;
}
.projects .main {
    .projects-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card-project {
            margin-bottom: 2rem;
        }
    }
}

@media screen and (min-width: 680px) {
    .projects .main {
        .projects-list {
            justify-content: space-between;
        }
    }
     
}